---
layout: default
title: titles.about
---

<section id="about-header">
    {% include partials/about/developer.html %}
</section>

<section id="academic-background" class="pb-32 pt-10">
    <div class="relative container flex flex-col items-center px-6 mx-auto md:flex-row md:space-x-7">
        {% include partials/about/academic-background.html %}
    </div>
</section>

<section id="professional-experience" class="pb-32 pt-10">
    <div class="relative container flex flex-col items-center px-6 mx-auto md:flex-row md:space-x-7">
        {% include partials/about/experience.html %}
    </div>
</section>