---
layout: default
---

{% assign tag_name = site.data.tags[page.autopages.display_name] %}

<section class="py-10 bg-customDarkLight text-customLightBlue lg:py-20 xl:py-24">
    <div class="container max-w-screen-xl mx-auto px-10">
        <header class="text-center">
            <h1 class="text-xl lg:text-2xl xl:text-5xl font-semibold lg:font-bold xl:font-extrabold lg:tracking-tight">
                {% t labels.posts_in %} {% include partials/tag-name.html name=tag_name %}
            </h1>
        </header>
    </div>
</section>

<div class="py-10 lg:py-20">
    <div class="container max-w-screen-lg xl:max-w-screen-lg mx-auto px-10">
        <div class="space-y-10">
            {% for post in paginator.posts %}
                {% include partials/post-preview.html %}
            {% endfor %}
        </div>
    </div>
</div>

{% include partials/pagination.html %}
